.hov img {
    width:100%;
    vertical-align:top;
}
.hov:after {
    content:'\A';
    position:absolute;
    width:100%; 
	height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hov:hover:after {
    opacity:1;
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	cursor: default
}

.hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.hovereffect:hover img {
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

#button {
	display: inline-block;
	background-color: #ff0000;
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	bottom: 5px;
	right: 5px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000
}

#button::after {
	content: '\e908';
	font-weight: bold;
	font-family: icomoon;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 50px;
	color: #fff
}

#button:hover {
	cursor: pointer;
	background-color: #333;
	text-decoration: none
}

#button:active {
	background-color: #555
}

#button.show {
	opacity: 1;
	visibility: visible
}
.fs-10 {
	font-size: 10px
}
.fs-18 {
	font-size: 18px
}

.fs-36 {
	font-size: 36px
}

.fs-28 {
	font-size: 28px!important
}

.fs-40 {
	font-size: 40px!important;
	line-height: 1
}

.fs-50 {
	font-size: 50px!important;
	line-height: 1
}

.fs-60 {
	font-size: 60px!important
}
.texttop {
  position: absolute;
  top: 0;
  padding: 5px;
  z-index: 1;
}
.texttops {
  position: absolute;
  top: 12%;
  padding: 5px;
  z-index: 1;
  line-height: 1  
}
.textbot {
  position: absolute;
  top: 80%;
  padding: 5px;
  z-index: 1;
}
.textmid {
  position: absolute;
  top: 50%;
  padding: 5px;
  z-index: 1;
}

.megamenu {
	position: static
}

.megamenu .dropdown-menu {
	background: 0 0;
	border: none;
	width: 100%
}
.chevron {
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9;
	width: 38px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
}

.chevron:first-child {
	animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

@keyframes move {
	25% {
		opacity: 1;
	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}
.parallax {
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}
.parallax_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shadowht {
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
}
.shadowblk {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}